<div class="container bg-info text-center rounded p-4">
<h1>Welcome to Y</h1>
</div>
<p> </p>
<div class="container bg-info text-center rounded p-4">
<h2>The newest social app you will fall in love with. Create moments with us.</h2>
</div>