<div class="container bg-info text-center rounded p-4">
<h1> Title </h1>
</div>
<p> </p>
<div class="container bg-info text-center rounded p-4">
<h2> Subtitle </h2>
</div>
<p> </p>
<div class="container bg-info text-center rounded p-4">
<p> Description </p>
</div>